.progress-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: url("../../zoom-ribbon.png");
  border-radius: 5px;
}

.progress-form h1 {
  border-radius: 5px;
  padding: 5px;
}

.progress-form button {
  margin-top: 50px;
}

.progress-form input {
  align-self: center;
  width: 100px;
  font-size: large;
}

.progress-form span {
  border-radius: 5px;
  padding: 5px;
}
.progress-form .errors {
  position: absolute;
  margin: 20px;
  align-self: center;
}
