
.signup-modal {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  width: 500px;
  height: 600px;
}

.signup-modal button {
  margin: 10px;
  width: fit-content;
}

.signup-modal span {
  padding-bottom: 20px;
}

.signup-modal input {
  margin: 10px;
  align-self: center;

}

.signup-modal.errors {
  position: absolute;
}
