
.signup-modal {
  padding: 20px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  width: 500px;
  height: 600px;
  background-image: url("../../zoom-ribbon.png");
}

.signup-modal button {
  margin: 10px;
  width: fit-content;
}

.signup-modal span {
  background-color: #ffffff;
  width: fit-content;
  align-self: center;
  border-radius: 5px;
  padding: 5px;
}

.signup-modal input {
  margin: 10px;
  align-self: center;

}

.signup-modal.errors {
  position: absolute;
}
