.coupons-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 810px;
}

.coupon-cards {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1709a;
  width: fit-content;
  align-self: center;
  padding: 20px;
  border-radius: 0 20px;
  background-color: #ffffff;
  margin: 20px;
}

.coupon-cards span {
  margin: 10px;
  padding-left: 100px;
  font-size: large;
  font-weight: 600;
}

.coupon-cards button {
  background-color:#bae264;
  color: black;
  align-self: center;
  margin: 10px;
  font-size: medium;
}

.coupon-cards img {
  height: 70px;
  width: 70px;
  position: absolute;
  padding-left: 20px;
  padding-top: 10px;
}

span.coupon-code {
  font-weight: 400;
  padding-left: 0;
}

.no-coupons {
  padding: 100px;
  margin: auto;
  font-size: larger;
}

.warning-container {
  display: flex;
  flex-direction: column;
  background-color: #bae264;
  width: fit-content;
  align-self: center;
}

.read-more {
  align-self: center;
  display: flex;
  padding: 20px;
  font-size: larger;
  background-color: #e1709a;
  width: fit-content;
  margin: 20px;
}

.blue-grid-3 {
  position: relative;
  z-index: -4;
  top: -1600px;
  width: 45vw;
  right: -790px;
}

.purple-grid-3 {
  position: relative;
  z-index: -4;
  top: -300px;
  right: 0px;
  width: 45vw;
}

.ribbon-accent-3 {
  position: relative;
  z-index: -1;
  left: 500px;
  top: -1000px;
  width: 60vw;
}

.pizza-dood-3 {
  position: relative;
  z-index: -1;
  left: 80px;
  top: -2200px;
  width: 40vw;
}

.friends-page {
  height: 795px;
}
