.coupons-container {
  display: flex;
  flex-direction: column;
  position: relative;

}

.coupon-cards {
  display: flex;
  align-self: center;
  flex-direction: column;
  background-color: #ffffff;

  height: 150px;
  background-color: #f8f9fa;
  border-radius: 15px;
  position: relative;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
}

.coupon-cards-u {
  display: flex;
  align-self: center;
  flex-direction: column;
  background-color: #ffffff;

  height: 230px;
  background-color: #f8f9fa;
  border-radius: 15px;
  position: relative;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 20px;
  overflow: hidden;
}

.cutout {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: antiquewhite;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-clip: content-box;
}

.cutout.left {
  left: -10px;
}

.cutout.right {
  right: -10px;
}

.cutout1 { top: 30px; }
.cutout2 { top: 65px; }
.cutout3 { top: 100px; }
.cutout4 { top: 135px; }
.cutout5 { top: 170px; }
.cutout6 { top: 205px; }

.coupon-cards span {
  margin: 10px;
  padding-left: 100px;
  font-size: large;
  font-weight: 600;
}

.coupon-cards button {

  align-self: center;
  margin: 10px;
  font-size: medium;
}

.coupon-cards img {
  height: 70px;
  width: 70px;
  position: absolute;
  padding-left: 20px;
  padding-top: 10px;
}

.coupon-cards span {
  margin: 10px;
  padding-left: 100px;
  font-size: large;
  font-weight: 600;
}

.coupon-cards button {

  align-self: center;
  margin: 10px;
  font-size: medium;
}

.coupon-cards img {
  height: 70px;
  width: 70px;
  position: absolute;
  padding-left: 20px;
  padding-top: 10px;
}

.coupon-cards-u span {
  margin: 10px;
  padding-left: 100px;
  font-size: large;
  font-weight: 600;
}

.coupon-cards-u button {
  align-self: center;
  margin: 10px;
  font-size: medium;
}

.coupon-cards-u img {
  height: 70px;
  width: 70px;
  position: absolute;
  padding-left: 20px;
  padding-top: 10px;
}

span.coupon-code {
  font-weight: 400;
  padding-left: 0;
}

.no-coupons {
  padding: 100px;
  margin: auto;
  font-size: larger;
}

.warning-container {
  display: flex;
  flex-direction: column;
  background-color: #ed9c36;
  width: fit-content;
  align-self: center;
  border-radius: 5px;
  padding: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  width: 70vw;
}

.read-more {
  align-self: center;
  display: flex;
  padding: 20px;
  font-size: larger;
  background-color:#922e21;
  width: fit-content;
  margin: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


.friends-page {
  height: 100vh;
}

@media (max-width: 550px) {
  .coupon-cards {

    width: 70vw;

  }

  .coupon-cards-u {

    width: 70vw;

  }
}
