.coupons-container {
  display: flex;
  flex-direction: column;
  position: relative;

}

.coupon-cards {
  display: flex;
  flex-direction: column;
  border: 1px solid #922e21;
  width: fit-content;
  align-self: center;
  padding: 20px;
  border-radius: 0 20px;
  background-color: #ffffff;
  margin: 20px;
}

.coupon-cards span {
  margin: 10px;
  padding-left: 100px;
  font-size: large;
  font-weight: 600;
}

.coupon-cards button {

  align-self: center;
  margin: 10px;
  font-size: medium;
}

.coupon-cards img {
  height: 70px;
  width: 70px;
  position: absolute;
  padding-left: 20px;
  padding-top: 10px;
}

span.coupon-code {
  font-weight: 400;
  padding-left: 0;
}

.no-coupons {
  padding: 100px;
  margin: auto;
  font-size: larger;
}

.warning-container {
  display: flex;
  flex-direction: column;
  background-color: #ed9c36;
  width: fit-content;
  align-self: center;
}

.read-more {
  align-self: center;
  display: flex;
  padding: 20px;
  font-size: larger;
  background-color:#922e21;
  width: fit-content;
  margin: 20px;
}


.friends-page {
  height: 100vh;
}
