.book-progress-completed {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;

  flex-wrap: wrap;
}

.book-read-cards {
  background-color: #bae264;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.read-image {
  height: 200px;
}

.book-read-cards:hover {
  cursor: pointer;
}
