.book-progress-completed {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.book-read-cards {
  background-color: #ed9c36;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 15px 15px 0;
}

.read-image {
  height: 200px;
  border-radius: 0 15px 15px 0;
}

.book-read-cards:hover {
  cursor: pointer;
}

.book-trophies-page {
  height: 100vh;
}
