.reviewsList {
  padding: 10px;

}

.review-username {
  display: flex;
  font-size: 20px;
  text-align: left;
  justify-content: space-between;
}

.review-content {
  display: flex;
  text-align: left;
  padding: 10px 0;
  justify-content: space-between;
  font-size: medium;

}

.rating {
  font-size: 20px;
}

.reviewsList {
  padding-bottom: 15px;
}
.reviewsList span {
  margin: 2px 0 ;
}

.reviewForm {
  padding: 10px 30px 30px;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  background-color: antiquewhite;
  border-radius: 5px;
  width: 420px;
}

.reviewForm h1 {
  align-self: center;
  border-radius: 5px;
  font-size: 40px;
}

.reviewTextArea {
  width: 100%;
  font-size: large;
  width: 25vw;
}

.reviewTextArea:focus {
  outline: none;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);

}

.rating-input {
  display: flex;
  margin: 5px;
  justify-content: space-around;
  width: 100%;

  border-radius: 5px;
  padding: 5px;
}

.rating-input .filled {
  color: #ed9c36;
}
.rating-input .empty {
  color: rgb(168, 168, 168)
}

.reviewForm span {
  align-self: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.reviewForm button {
  align-self: center;

}

.review-stars {
  margin-top: 15px;
  text-align: justify;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.review-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
