.friend-book-img {
  height: 100px;
}

.friend-book-img:hover {
  cursor: pointer;
}

table {
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
  width: 80vw;
  margin: auto;
  border-radius: 15px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}

thead,
th,
td {
  border: 1px solid #2e294e;
  background-color: #ed9c36;
  padding: 8px 10px;
  border-radius: 15px;
}

td:last-of-type {
  text-align: center;
}

.friend-book-prog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.friend-prog {
  margin-left: 10px;
  font-size: medium;
  width: 250px;
}
.book-t-f {
  padding-bottom: 10px;
}


.friends-page h1 {
  text-align: justify;
  margin: 30px;
}

th:nth-child(2), td:nth-child(2) {
  width: 600px;
}

.progress-navigation button {
  margin: 5px;
}

@media screen and (max-width: 449px) {
  table {
    font-size: 0.7rem;
    margin: auto;
    border-radius: 5px;

  }
  thead,
  th,
  td {
    border: 1px solid #2e294e;
    background-color: #ed9c36;
    padding: 2px 4px;
    border-radius: 5px;
  }

  .friends-page {
    width: 80vw;
  }
  .friend-prog {
    margin-left: 10px;
    font-size: medium;
    width: 20vw;
  }
  .book-t-f {
    padding-bottom: 5px;
    font-size: 0.8em;
  }
  .friends-page h1 {
    text-align: justify;
    margin: 10px;
  }
}
