.footer-container {
  width: 100%;
  color: #ffffff;
  background: antiquewhite;
  background: linear-gradient(180deg, antiquewhite 0%, rgba(46,41,78,1) 3%);
}

.footer {
  display: flex;
  justify-content: space-around;
  font-size: medium;
  padding-top: 25px;
  padding-bottom: 3px;
}

.footer-container a {
  padding: 3px;
  color: #ed9c36;
  margin: 3px;
  font-size: 25px;
}

.plugs {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}
