.footer-container {
  background-color: #ed9c36;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 20px;
  font-size: larger;
  padding-top: 10px;
  padding-bottom: 40px;
}

.footer-container a {
  padding: 3px;
  color: #922e21;

}
