.title {
  background: url('../../pizzaprint.png') repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 12vw;
  margin: auto;
  font-family: "Poppins", sans-serif;
  background-size: 100%; /* Slightly larger to prevent visible seams */
}

.goal-prog-wrapper {
  display: flex;

  justify-content: center;
}


h1 {
  color: #922e21;
}

.landing-page {
  height: 80.75vh !important;
  display: flex;
  text-align: center;
  justify-self: center;
  margin: auto;
  flex-direction: row;
}

.book-progress-lp {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;

}

.cr-container {
  margin-top: 0;
}

#currently-reading.heading {
  margin-top: 2px;
}
