
.title {
  background: url(../../pizzaprint.png);
  -webkit-background-clip: text;
  background-clip: text;
  color:transparent;
  font-size: 150px;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #922e21;
}

.landing-page {
  height: 80.75vh !important;
  display: flex;
}

.book-progress-lp {
  display: flex;


}
