
.title {
  background: url(../../pizzaprint.png) repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 9rem;
  margin: auto;
  font-family: "Poppins", sans-serif;
  background-size: 150%; /* Slightly larger to prevent visible seams */
  animation: slidein 15s infinite linear; /* Infinite to keep the animation going */
}

@media (max-width: 1200px) {
  .title {
    font-size: 8rem; /* Adjust for medium screens */
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 6rem; /* Adjust for small screens */
  }
}

@media (max-width: 375px) {
  .title {
    font-size: 4rem; /* Adjust for small screens */
  }
}

@keyframes slidein {
  from {
    background-position: 0 0; /* Start the background at the right */
  }

  to {
    background-position: 0 150% ; /* Move the background to the left */
  }
}


h1 {
  color: #922e21;
}

.landing-page {
  height: 80.75vh !important;
  display: flex;
}

.book-progress-lp {
  display: flex;


}
