/* TODO: Add sitewide styles */

html {
  background-color: #1b998b;

}


body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  text-align: center;
}


button {
  height: 35px;
  width: fit-content;
  padding: 0 20px;
  background: #922e21;;
  color: #F4E9DC;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
}

input {
  font-family: "Quicksand", sans-serif;
  margin: auto;
  width: fit-content;

}


button:hover {
  cursor: pointer;
}

.errors {
  color: red;
  background-color: #ffffff;
  bottom: 70px;
  font-weight: 500;
}

button:disabled {
  background-color: rgb(146, 119, 117);
  cursor: not-allowed;
}

link:hover {
  cursor: pointer;
  color: #e1709a;
  text-decoration: underline;
  font-weight: bold;
}
