/* TODO: Add sitewide styles */

html {
  background-color:#F4E9DC;
}


body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  text-align: center;
}


button {
  height: 35px;
  width: fit-content;
  padding: 0 20px;
  background: #922e21;;
  color: #F4E9DC;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
}

input {
  font-family: "Quicksand", sans-serif;
  margin: auto;

}


button:hover {
  cursor: pointer;
}

.errors {
  color: #922e21;

}

button:disabled {
  background-color: rgb(146, 119, 117);
  cursor: not-allowed;
}
