.single-book-card {
  display: flex;
  padding: 20px;
  margin: auto;
  width: 70vw;
  background-color: #ed9c36;
  margin-top: 10px;
  border-radius: 5px 5px 0 0;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.book-image {
  height: 420px;
  border-radius: 0 15px 15px 0;
}

.single-book-deets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  margin-left: 40px;
  font-weight: 500;
}

.single-book-title {
  font-size: 40px;
}

.single-book-author {
  font-size: 20px;
}

.single-book-desc {
  font-size: 16px;
}


.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deet-label {
  color: #922e21;
  font-weight: 700;
}


.reviews {
  width: 70vw;
  margin: auto;
  height: 210px;
  overflow-y: scroll;
  background-color: #ed9c36;
  padding: 20px;
  /* border-top: 4px solid transparent; */
  border-radius: 0 0 5px 5px;
  margin-bottom: 40px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.bethefirst {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding-top: 20px;
}


