.single-book-card {
  display: flex;
  padding: 30px;
  background-color: #ed9c36;
  margin: 20px auto;
  border-radius: 5px ;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  justify-self: center;
  align-self: center;
}

.single-book-page {
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
  width: 80vw;
}

.book-image {
  border-radius: 0 15px 15px 0;
  width: 100%;
  height: auto;
  min-width: 225px; /* Adjust based on your design */
  object-fit: contain;
}

.single-book-deets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  margin-left: 40px;
  font-weight: 400;

}

.single-book-title {
  font-size: 40px;
  margin-bottom: 5px;
}

.single-book-author {
  font-size: 20px;
  margin-bottom: 15px;
}

.single-book-desc {
  font-size: 16px;
  margin: 15px 0;
}


.image-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.deet-label {
  color: #922e21;
  font-weight: 700;
}


.reviews {
  margin: 15px auto;
  background-color: #ed9c36;
  padding: 23px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  height: 90.5%;
  justify-self: center;
  align-self: center;

}

.bethefirst {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

}


.single-book-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

@media screen and (max-width: 800px) {
  .single-book-card {
    width: 86vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
  }
  .single-book-title {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
  }
  .single-book-author {
    text-align: center;
  }
  .book-image {
    width: 100%;
    object-fit: cover;
    min-width: 60%;
    padding: 0;
    margin: 0;
  }
  .curr-read-butt button  {
    margin: 15px;
  }
  .image-container {
    height: fit-content;
  }

  .single-book-page {
    width: 90vw;
  }
  .single-book-deets {
    margin: auto;
  }
}
