.progress-image {
  height: 200px;
  border-radius: 0 10px 10px 0;
}

.progress-image:hover {
  cursor: pointer;
}

.currentlyreading-h1 {
  color:#922e21;
  text-align: left;
  margin-left: 15px;
}

.book-progress-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 10px 40px;
  overflow-y: scroll;
  scrollbar-color: #e1709a #bae264;
  height: 630px;
}

.book-progress-cards {
  display: flex;
  margin: 10px;
  background-color: #ed9c36;
  padding: 20px;
  width: 400px;
}

.progress-deets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  margin-left: 20px;
  width: 100%;
}

.progress-button {
  width: fit-content;
  height: fit-content;
  font-size: 15px;
  padding-bottom: 5px;
  align-self: center;
}

.progress-title {
  font-weight: bold;
  font-size: larger;
}



.progressBar {
  appearance: none;
  height: 15px;
  border-radius: 100px;
  width: 100%;

  /* Chrome and Safari */
  &::-webkit-progress-bar {
    background: #ffd8a2 ;

  }

  &::-webkit-progress-value {
    background-color: #e1709a;

  }
}

.progress-container {
  width: 100%;
  font-size: 15px;
  text-align: center;

}

.currently-reading {
  display: flex;
  justify-content: center;
  padding-top: 4px;
  width: 160px;
  font-size: medium;
  height: 50px;
}

.curr-read-butt {
  margin-top: 20px;
}

span.cr-text {
  text-align: center;

}

.book-icon {
  color: #e1709a;
  font-size: 20px;
  padding-bottom: 2px;
}

.progress-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;

}

.progress-buttons button {
  width: fit-content;

}

.goal-progress-container {
  position: relative;
  width: fit-content;
  padding: 0 25px;
  left: 700px;
  bottom: 580px;
}

.get-pizza-butt button {
  background-color: #bae264;
  color: black;
}

.goal-progress-banner {
  background-color: #bae264;
  border: 2px solid;
  padding: 15px;
  border-radius: 5px;
}

.redeem-coupon-link {
  background-color: #bae264;
  border: 2px solid;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}


.redeem-coupon-link:hover {
  cursor: pointer;
  color: #e1709a;
  text-decoration: underline;
  font-weight: bold;
}

.get-pizza-butt button:hover {
  cursor: pointer;
  color: #e1709a;
  text-decoration: underline;
  font-weight: bold;
}
