

.progress-image {
  height: 200px;
  border-radius: 0 10px 10px 0;
}

.progress-image:hover {
  cursor: pointer;
}

.no-scroll {
  overflow-y: hidden;
}

.book-progress-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 20px;
  overflow-y: scroll;
  max-height: 70vh;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


.book-progress-cards {
  display: flex;
  margin: 10px;
  background-color: #ed9c36;
  padding: 20px;
  width: 400px;
  border-radius: 5px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.progress-deets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin-left: 20px;
  width: 100%;
}

.progress-buttons {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding-bottom: 5px;

}


.progress-title {
  font-weight: bold;
  font-size: larger;
}



.progressBar {
  appearance: none;
  height: 15px;
  border-radius: 100px;
  width: 100%;

  /* Chrome and Safari */
  &::-webkit-progress-bar {
    background: #ffd8a2 ;

  }

  &::-webkit-progress-value {
    background-color: #e1709a;

  }
}

.progress-container {
  width: 100%;
  font-size: 15px;
  text-align: center;

}

.currently-reading {
  display: flex;
  justify-content: center;
  padding-top: 4px;
  font-size: medium;

}


span.cr-text {
  text-align: center;

}

#currently-reading {
  font-size: 50px;
}

.book-icon {
  color: #ED9C36;
  font-size: 20px;
  padding-bottom: 2px;
}

/* .progress-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
} */



.progress-buttons button:nth-child(1) {
  background-color: #1B998B;

}

.goal-progress-container {

  width: fit-content;
  padding: 0 25px;

}

.get-pizza-butt button {
  background-color: #1B998B;
  color: white;
  width: 230px;
  margin: 25px 25px 50px;
}

.goal-progress-banner {
  background-color: #1B998B;
  border: 2px solid;
  padding: 15px;
  border-radius: 5px;
  font-size: 22px;
  margin: 25px 25px 50px;
}

.redeem-coupon-link  {
  background-color: #1B998B;
  border: 2px solid;
  padding: 20px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin: 25px 25px 50px;

}

.redeem-coupon-link:hover {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  cursor: pointer;
}



.get-pizza-butt button:hover {
  cursor: pointer;
  color: #ED9C36;
  text-decoration: underline;
  font-weight: bold;

}



.pizza-slices img {
  height: 40%;
  position: absolute;
  right: 150px;
}
