.books-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.books-header {
  text-align: left;
  align-self: start;
  margin-left: 15px;
  color: #922e21;
}

.book-cards {
  display: flex;
  width: 550px;
  background-color: #ed9c36;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
}

.link-books {
  display: flex;
  text-decoration: none;
}

.book-deets {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
  justify-content: space-around;
  color: black;

}


.book-images {
  display: flex;
  height: 200px;
  align-items: flex-start;
  border-radius: 0 10px 10px 0;
}

.book-title {
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: 700;
}

.book-author {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 500;
}

.book-genre {
  font-weight: 700;
  font-style: italic;
  font-size: 14px;
}

.book-description {
  font-size: 14px;
}
