.books-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}


.books-page {
  align-items: space-around;
  justify-content: space-around;
}



.book-card {
  align-self: center;
  justify-self: center;
  width: 65vw;
  background-color: #ed9c36;
  padding: 15px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
  max-height: 200px;
  overflow: hidden;
}

.book-link {
  display: flex;
  text-decoration: none;
}

.book-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
  justify-content: space-around;
  color: black;

}


.book-list-image {
  display: flex;
  align-items: flex-start;
  border-radius: 0 10px 10px 0;
  height: 200px;
  width: 140px;
  object-fit: cover;
}

.book-title {
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: 700;
}


.book-author {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 500;
}

.book-genre {
  font-weight: 700;
  font-style: italic;
  font-size: 14px;
}

.book-description {
  font-size: 14px;
}

.bookslist-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 8px solid #ba8d5c;
  box-sizing: border-box;
  --c:no-repeat radial-gradient(farthest-side, #922e21 94%,#0000);
  --b:no-repeat radial-gradient(farthest-side, #000 94%,#0000);
  background:
    var(--c) 11px 15px,
    var(--b) 6px 15px,
    var(--c) 35px 23px,
    var(--b) 29px 15px,
    var(--c) 11px 46px,
    var(--b) 11px 34px,
    var(--c) 36px 0px,
    var(--b) 50px 31px,
    var(--c) 47px 43px,
    var(--b) 31px 48px,
    #ed9c36;
  background-size: 15px 15px,6px 6px;
  animation: l4 3s infinite;
}
@keyframes l4 {
  0%     {-webkit-mask:conic-gradient(#0000 0     ,#000 0)}
  16.67% {-webkit-mask:conic-gradient(#0000 60deg ,#000 0)}
  33.33% {-webkit-mask:conic-gradient(#0000 120deg,#000 0)}
  50%    {-webkit-mask:conic-gradient(#0000 180deg,#000 0)}
  66.67% {-webkit-mask:conic-gradient(#0000 240deg,#000 0)}
  83.33% {-webkit-mask:conic-gradient(#0000 300deg,#000 0)}
  100%   {-webkit-mask:conic-gradient(#0000 360deg,#000 0)}
}

.pagination {
  align-self: center;

}


@media screen and (max-width: 449px) {

  .book-title {
    font-size: 15px;
  }

  .book-card {
    width: 90vw;
  }
}
