li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.profile-button {
  font-size: 55px;
  margin: 5px 0;
  padding: 0 2px 2px;
  background-color: transparent;
  border: none;
  color: #922e21;
  position: relative;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #ed9c36;
}



.logo {
  height: 75px;
  padding-top: 3px;
}

.menu {
  width: fit-content;
  align-self: flex-end;
  position: relative;
  padding: 10px;
  font-size: 50px;
  background-color: #ed9c36;
  border: none;
  color: #922e21;
}


.profile-dropdown {
  background-color: #ed9c36;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  margin: 65px 0 0;
  align-self: flex-end;
  position: absolute;
  font-size: 20px;
}
