form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}

input {
  margin-bottom: 10px;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  border: 1px rgba(46,41,78,1)  solid;
  font-size: medium;
}

input:focus {
  outline: none;
}

.login-modal {
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

#modal-content {
  border-radius: 5px;
}

.login-button {
  width: fit-content;
  align-self: center;
  margin-top: 10px;
}

.modalLink:hover {
  cursor: pointer;
  color: #1B998B;
  text-decoration: underline;
  font-weight: bold;
}

.loginButtonModal {
  background-color: #2E294E;
  color: white;
  font-size: small;
  padding: 0 10px;
  margin: 0;
}

.login-modal input {
  margin-bottom: 15px;
}

.heading {
  font-size: 70px;
  width: fit-content;
  align-self: center;
  margin-bottom: 0;
  border-radius: 5px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  background: url('../../pizzaprint.png') repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 120%;
}

.new-message {
  background-color: #ffffff;
  width: fit-content;
  align-self: center;
  border-radius: 5px;
  padding: 5px;
}
