form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
}

input {
  margin-bottom: 10px;
  width: fit-content;
}

.login-modal {
  padding: 20px;

}

#modal-content {
  border-radius: 5px;
}

.login-button {
  width: 100%;
}

.modalLink:hover {
  cursor: pointer;
}
