form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}

input {
  margin-bottom: 10px;
  width: fit-content;
}

.login-modal {
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-image: url("../../modalBackgrounds.png");
}

#modal-content {
  border-radius: 5px;
}

.login-button {
  width: fit-content;
  align-self: center;
  margin-top: 10px;
}

.modalLink:hover {
  cursor: pointer;
  color: #e1709a;
  text-decoration: underline;
  font-weight: bold;
}

.loginButtonModal {
  background-color: #bae264;
  color: black;
  font-size: small;
  padding: 0 10px;
  margin: 0;
}

.login-modal input {
  margin-bottom: 15px;
}

.heading {
  background-color: #ffffff;
  width: fit-content;
  align-self: center;
  margin-bottom: 0;
}

.new-message {
  background-color: #ffffff;
  width: fit-content;
  align-self: center;

}
